@import 'abstracts/variables';
@import 'abstracts/mixins';

footer {
    background-color: black;
    padding: 38px 35px 47px;
    @media (min-width: $min-width-tablet) {
        padding: 57px 138px 56px;
    }
    text-align: center;
    h2 {
        margin-bottom: 8px;
        @media (min-width: $min-width-tablet) {
            margin-bottom: 22px;
        }
        color: rgba(254, 254, 254, 1);
        font-weight: $font-bold;
        line-height: 22px;
        text-transform: uppercase;
    }
}

.footer__text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 26px;
    @media (min-width: $min-width-tablet) {
        margin-bottom: 37px;
    }
    color: rgba(185, 185, 185, 1);

}

.footer__text span {
    display: none;
    @media (min-width: $min-width-tablet) {
        display: block;
    }
}

.footer__icons-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    @media (min-width: $min-width-tablet) {
        margin-bottom: 34px;
    }
    img {
        margin: 0 3px;
    }
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    margin: 0 35px;
    color: rgba(185, 185, 185, 1);
    font-size: 14px;
    line-height: 24px;
    @media (min-width: $min-width-tablet) {
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
}

.footer__contacts span {
    @media (min-width: $min-width-tablet) {
        margin: 0 5px;
    }
}