@import 'abstracts/variables';
@import 'abstracts/mixins';

header {
    display: flex;
    position: relative;
    flex-direction: column;
    li:hover {
        color: rgba(87, 164, 164, 1);
    }
}

header ul {
    display: none;
    @media (min-width: $min-width-tablet) {
        display: flex;
        flex-direction: row;
        margin: 41px 100px 43px;
        justify-content: space-around;
        font-size: 11px;
        line-height: 22px;
        color: rgba(78, 78, 78, 1);
    }
    @media (min-width: $min-width-desktop) {
        margin: 45px 294px 51px;
    }
}

header img {
    max-width: 768px;
    margin: 0 28px 38px $margin-left-mob;
    @media (min-width: $min-width-tablet) {
        margin: 0 92px 56px $margin-left-tablet;
    }
    @media (min-width: $min-width-desktop) {
        align-self: center;
        margin: 0 $margin-desktop 66px;
    }
}
.header__burger-menu {
    position: relative;
    align-self: flex-end;
    width: 44px;
    height: 37px;
    background: black;
    margin: 23px 28px;
    @media (min-width: $min-width-tablet) {
        display: none;
    }
    img {
        display: none;
    }
    .line-1 {
        @include burger-menu__lines(13px);
    }
    .line-2 {
        @include burger-menu__lines(17px);
    }
    .line-3 {
        @include burger-menu__lines(21px);
    }
}

.header__burger-menu--toggle {
    img {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        margin: 0;
    }
    span {
        display: none;
    }
}

.js-menu-show {
    display:block;
    position: absolute;
    top: 60px;
    right: 28px;
    background: rgba(245, 245, 245, 1);
    font-size: 11px;
    line-height: 22px;
    padding: 5px 56px 0 12px;
    color: rgba(78, 78, 78, 1);
    & li:hover {
        color: rgba(87, 164, 164, 1);
    }
}
