@import 'abstracts/variables';
@import 'abstracts/mixins';


.posts, .instagram {
    h2 {
        font-weight: $font-bold;
        line-height: 22px;
        text-transform: uppercase;
    }
}

.posts h2 {
    margin: 0 0 23px $margin-left-mob;
    @media (min-width: $min-width-tablet) {
        margin-left: $margin-left-tablet;
    }
    @media (min-width: $min-width-desktop) {
        margin-left: $margin-desktop;
    }
}

.posts__container {
    margin-left: $margin-left-mob;
    margin-bottom: 77px;
    @media (min-width: $min-width-tablet) {
        margin: 0 0 32px $margin-left-tablet;
    }
    @media (min-width: $min-width-desktop) {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        margin: 0 $margin-desktop 69px;
        grid-gap: 10%;
    }
    img {
        margin: 0 21px 11px 0;
    }
    h3 {
        font-weight: $font-bold;
        line-height: 30px;
        margin-bottom: 1px;
    }
}
.posts__wrapper {
    @media (min-width: $min-width-tablet) {
        display: flex;
    }
}

.posts__caption {
    font-size: 11px;
    line-height: 20px;
    color: rgba(124, 124, 124, 1);
    span {
        margin: 0 5px;
    }
    margin-bottom: 28px;
    @media (min-width: $min-width-tablet) {
        margin-bottom: 13px;
    }
}

.posts__text {
    display: none;
    @media (min-width: $min-width-tablet) {
        display: block;
        font-size: 14px;
        line-height: 26px;
        color: rgba(92, 92, 92, 1);
        width: 404px;
    }
    @media (min-width: $min-width-desktop) {
        width: auto;
    }
}

.instagram {
    margin-bottom: 42px;
    @media (min-width: $min-width-tablet) {
        background: rgba(0, 0, 0, 0.03);
        padding: 47px 0;
        margin: 0;
    }
}

.instagram h2 {
    margin: 0 0 13px $margin-left-mob;
    @media (min-width: $min-width-tablet) {
        margin: 0 0 35px;
    }
}

.instagram img {
    margin: 0 10px 0 $margin-left-mob;
    @media (min-width: $min-width-tablet) {
        width: 100%;
        margin: 0;
    }
}

.latest-instagram-shots__wrapper {
    display: none;
    p {
        font-weight: $font-bold;
        font-size: 13px;
        line-height: 22px;
        text-transform: uppercase;
        margin-left: auto;
    }
    @media (min-width: $min-width-tablet) {
        display: flex;
        margin: 0 92px 0 $margin-left-tablet;
    }
    @media (min-width: $min-width-desktop) {
        margin: 0 $margin-desktop;
        }
}

.last-instagram-shot {
    @media (min-width: $min-width-tablet) {
        display: none;
    }
}

.instagram__image-wrapper {
    max-width: 301px;
    display: flex;
    overflow: hidden;
    @media (min-width: $min-width-tablet) {
        max-width: none;
        margin: 0 92px 50px $margin-left-tablet;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: $min-width-desktop) {
        grid-template-columns: repeat(4, 1fr);
        margin: 0 $margin-desktop;
    }
}

.instagram__image4 {
    display: none;
    @media (min-width: $min-width-desktop) {
        display: block;
    }
}